/**
 * CSS Stylesheet for Time Tracking App
 */

input {
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #d6d6d6;
}

input[type="text"] {
    width: 50px;
    text-align: center;
}

div {
    font-family: Arial, Verdana;
    font-size: 12px;
    width: 650px;
    background-color: #f2f2f2;
    padding: 60px 16px;
    border: solid 1px #e5e5e5;
    text-align: center;
}

div span:last-child {
    color: green;
}

h1 {
    font-size: 14px;
    margin: 0 0 8px 0;
}

#form-container {
    display: table;
    margin: 15% auto 0 auto;
}

#timeApp {
    margin: 0;
}

#timeApp .countdown {
    font-size: 60px;
    margin-bottom: 28px;
    display: block;
}

#task {
    width: 300px;
    height: 42px;
    text-align: left;
    padding: 0 8px;
}

#sendata {
    height: 42px;
    margin-left: 5px;
    padding: 10px 20px;
}

.timeAppbtn {
    margin-left: 5px;
}

.logout {
    background: #5e7ade;
    color: #fff;
    border: 1px solid #5e7ade;
    padding: 6px 12px 5px 12px;
    border-radius: 3px;
}

.logout:hover {
    color: #5e7ade;
    background: transparent;
    border: 1px solid #5e7ade;
}